/* Estilos para mensajes de éxito y error */
.success {
    color: green;
    font-weight: bold;
}

.danger {
    color: red;
    font-weight: bold;
}

/* Estilo para listas de mensajes */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* Estilos generales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para los contenedores de formulario */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Agrupación de campos de formulario */
.form-group {
    margin-bottom: 20px; /* Ajusta este valor según tu preferencia */
}

/* Estilo para las etiquetas del formulario */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para los campos de entrada */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
}

/* Estilo para el botón de envío */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos específicos para las tablas en /admin/users */
.table-container {
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a.edit-link {
    color: #007bff;
    text-decoration: none;
}

a.edit-link:hover {
    text-decoration: underline;
}
/* Estilo para el boton de home */
.btn-home {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-home:hover {
    background-color: #0056b3;
}
