<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
        <h1>Lista de Participantes</h1>
        <table class="ranking-table">
            <thead>
                <tr>
                    <th>Nombre de Usuario</th>
                    <th>Juegos y Puntuación</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            {% for score in user.game_scores %}
                                <div>{{ score.game.name }}: {{ score.score }}</div>
                            {% endfor %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No hay participantes registrados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('user.home') }}">
            <button type="button" class="btn btn-action">Inicio</button>
        </a>
</body>
</html>
