<!-- Plantilla para mostrar las normas del torneo -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normas del Torneo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
        <h1 class="title">Normas del Torneo</h1>
        <div class="rules-list">
            <ul>
                {% for regla in reglas %}
                    <li><strong>{{ regla }}</strong></li> <!-- Mostrar cada regla del torneo -->
                {% endfor %}
            </ul>
        </div>

        <div class="button-group">
            {% if current_user.is_admin %}
                <a href="{{ url_for('admin.modify_rules') }}">
                    <button type="button" class="btn btn-action">Modificar Normas</button> <!-- Botón solo visible para administradores -->
                </a>
            {% endif %}

            <a href="{{ url_for('user.home') }}">
                <button type="button" class="btn btn-action">Inicio</button>
            </a>
        </div>
</body>
</html>
