<!-- Plantilla para mostrar la lista de juegos y sus reglas -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Juegos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
        <h1>Lista de Juegos</h1>

        {% if games %}
            <table class="ranking-table">
                <thead>
                    <tr>
                        <th>Nombre del Juego</th>
                        <th>Reglas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                        <tr>
                            <td>{{ game.name }}</td>
                            <td>{{ game.rules }}</td> <!-- Muestra las reglas del juego -->
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay juegos registrados.</p> <!-- Mensaje en caso de que no existan juegos registrados -->
        {% endif %}

        <div class="button-container">
            <a href="{{ url_for('admin.add_game') }}">
                <button type="button" class="btn btn-primary">Añadir Juego</button> <!-- Opción para añadir un nuevo juego -->
            </a>
            <a href="{{ url_for('admin.edit_games') }}">
                <button type="button" class="btn btn-primary">Editar Juegos</button> <!-- Opción para editar juegos existentes -->
            </a>
            <a href="{{ url_for('user.home') }}">
                <button type="button" class="btn btn-action">Inicio</button>
            </a>
        </div>
</body>
</html>
